In [20]:
#BOSTON DATASET

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection  import train_test_split
import pandas as pd
import numpy as np
sklearn.__all__
df = pd.read_csv('Datasets/HousingData.csv')

In [39]:
x = df[['LSTAT','RM']]
y = df['MEDV']

model = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

df['CRIM'] = df['CRIM'].fillna(df['CRIM'].mean()) 
df['INDUS'] = df['INDUS'].fillna(df['INDUS'].mean()) 
df['CHAS'] = df['CHAS'].fillna(df['CHAS'].mean()) 
df['AGE'] = df['AGE'].fillna(df['AGE'].mean()) 
df['LSTAT'] = df['LSTAT'].fillna(df['LSTAT'].mean()) 
df['ZN'] = df['ZN'].fillna(df['ZN'].mean())

In [63]:
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
pred = pd.DataFrame(data={'Actual':y_test,'Predicted':y_pred})

In [64]:
pred

     Actual  Predicted
174    22.6  21.792274
442    18.4  20.009115
504    22.0  29.485452
291    37.3  33.399654
22     15.2  18.289136
..      ...        ...
396    12.5  19.558950
143    15.6   9.592966
2      34.7  33.358338
72     22.8  25.476626
192    36.4  33.988504

[102 rows x 2 columns]